In [1]:
import pandas as pd 
import CococoNet_reader 
import gc 
import numpy as np

In [2]:
gene_xref = pd.read_csv('/data/passala/OrthoDB_data/odb11v0_gene_xrefs.tab',names = ['Orthodb Gene','External ID','Database Name'],sep = '\t')

In [3]:
species_with_nets = pd.read_csv('/data/passala/Generated_Tables/Reference_tables/Species_name_resolver.csv')
species_with_nets = species_with_nets[:18]
# # species_with_nets = species_with_nets.drop(index = [13,14])
# # species_with_nets.loc[0,'Taxa ID'] = 39947 
taxa_to_keep = species_with_nets['Taxa ID'].astype(str).to_list()
taxa_to_keep_int = species_with_nets['Taxa ID'].to_list()
taxa_to_keep

['4530',
 '39947',
 '3750',
 '4558',
 '4577',
 '29760',
 '3711',
 '3847',
 '3880',
 '4097',
 '4113',
 '4081',
 '3702',
 '3818',
 '4565',
 '3659',
 '1753',
 '15368']

In [4]:
gene_subset = gene_xref.loc[gene_xref['Database Name']=='NCBIgid']

In [5]:
gene_subset['Species']  = gene_subset['Orthodb Gene'].str.split('_').str[0]

/tmp/ipykernel_817436/3814280915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gene_subset['Species']  = gene_subset['Orthodb Gene'].str.split('_').str[0]

In [6]:
gene_subset

               Orthodb Gene External ID Database Name  Species
31362      1000373_1:000000    11604942       NCBIgid  1000373
91083      1000664_1:000000    37617265       NCBIgid  1000664
91087      1000664_1:000001    37617263       NCBIgid  1000664
91112      1000664_1:000002    37617264       NCBIgid  1000664
91122      1000664_1:000003    37617266       NCBIgid  1000664
...                     ...         ...           ...      ...
553412630     9999_0:004bd4   113178698       NCBIgid     9999
553412632     9999_0:004bd5   113178700       NCBIgid     9999
553412634     9999_0:004bd6   113178701       NCBIgid     9999
553412636     9999_0:004bd7   113178704       NCBIgid     9999
553412638     9999_0:004bd8   113178705       NCBIgid     9999

[19243112 rows x 4 columns]

In [7]:
species_subset = gene_subset.loc[gene_subset['Species'].isin(taxa_to_keep)]

In [8]:
del gene_subset
del gene_xref
gc.collect()

19

In [9]:
species_subset.loc[species_subset['Orthodb Gene'] == '39947_0:0009d9']

             Orthodb Gene External ID Database Name Species
383876639  39947_0:0009d9     4326011       NCBIgid   39947

In [10]:
species_subset['Species'].value_counts()

3818     65719
4097     61692
3847     45233
3711     40924
3750     35845
4577     32531
3880     29196
39947    28660
4113     28353
4558     28179
3702     27377
29760    25749
4081     25498
15368    25478
3659     19997
4565      1612
Name: Species, dtype: int64

In [11]:
species_subset.loc[species_subset['Species']=='3659']

            Orthodb Gene External ID Database Name Species
364348032  3659_0:000000   105434526       NCBIgid    3659
364348035  3659_0:000001   101211643       NCBIgid    3659
364348037  3659_0:000002   116402997       NCBIgid    3659
364348040  3659_0:000003   105436360       NCBIgid    3659
364348049  3659_0:000004   101206600       NCBIgid    3659
...                  ...         ...           ...     ...
364523621  3659_0:004e18     3429281       NCBIgid    3659
364523636  3659_0:004e19     3429307       NCBIgid    3659
364523656  3659_0:004e1a     3429272       NCBIgid    3659
364523670  3659_0:004e1b     3429294       NCBIgid    3659
364523688  3659_0:004e1c     3429258       NCBIgid    3659

[19997 rows x 4 columns]

In [12]:
species_subset

             Orthodb Gene External ID Database Name Species
124009376  15368_0:000000   100829170       NCBIgid   15368
124009387  15368_0:000001   100840094       NCBIgid   15368
124009402  15368_0:000002   100841678       NCBIgid   15368
124009414  15368_0:000003   100844153       NCBIgid   15368
124009422  15368_0:000004   100841477       NCBIgid   15368
...                   ...         ...           ...     ...
410610061   4577_0:0085a4     5469132       NCBIgid    4577
410610078   4577_0:0085a5      845234       NCBIgid    4577
410610084   4577_0:0085a6     1466377       NCBIgid    4577
410610103   4577_0:0085a7      845193       NCBIgid    4577
410610108   4577_0:0085a8     1466381       NCBIgid    4577

[522043 rows x 4 columns]

In [13]:
ncbi_data = pd.read_csv('/data/passala/OrthoDB_data/NCBI_data/ncbi_gene_info.tab', sep = '\t')
ncbi_data

/tmp/ipykernel_817436/3503234663.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  ncbi_data = pd.read_csv('/data/passala/OrthoDB_data/NCBI_data/ncbi_gene_info.tab', sep = '\t')

,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
0,7,5692769,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230125,-
1,9,2827857,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230125,-
2,11,10823747,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230215,-
3,14,6951813,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230306,-
4,19,3758873,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230306,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45145496,3049902,805999,COX1,-,-,-,MT,-,cytochrome c oxidase subunit I,protein-coding,-,-,-,cytochrome c oxidase subunit I,20230526,-
45145497,3049902,806000,ND2,-,-,-,MT,-,NADH dehydrogenase subunit 2,protein-coding,-,-,-,NADH dehydrogenase subunit 2,20230526,-
45145498,3049902,806001,ND1,-,-,-,MT,-,NADH dehydrogenase subunit 1,protein-coding,-,-,-,NADH dehydrogenase subunit 1,20230526,-
45145499,3049902,806002,CYTB,-,-,-,MT,-,cytochrome b,protein-coding,-,-,-,cytochrome b,20230526,-
45145500,3049902,806003,ATP8,-,-,-,MT,-,ATP synthase F0 subunit 8,protein-coding,-,-,-,ATP synthase F0 subunit 8,20230526,-

In [14]:
ncbi_data.loc[1000000,'#tax_id']

2209

In [15]:
ncbi_data_trimmed = ncbi_data.loc[ncbi_data['#tax_id'].isin(taxa_to_keep_int)]
ncbi_data_trimmed

,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
1571383,3659,3429252,ndhA,CsCp110,ndh1,-,-,-,NADH dehydrogenase subunit 1,protein-coding,-,-,-,NADH dehydrogenase subunit 1,20191223,-
1571384,3659,3429253,ndhB,CsCp088,ndh2,-,-,-,NADH dehydrogenase subunit 2,protein-coding,-,-,-,NADH dehydrogenase subunit 2,20230531,-
1571385,3659,3429254,ndhB,CsCp125,ndh2,-,-,-,NADH dehydrogenase subunit 2,protein-coding,-,-,-,NADH dehydrogenase subunit 2,20230531,-
1571386,3659,3429255,ndhC,CsCp043,ndh3,-,-,-,NADH dehydrogenase subunit 3,protein-coding,-,-,-,NADH dehydrogenase subunit 3,20230531,-
1571387,3659,3429256,ndhD,CsCp105,ndh4,-,-,-,NADH dehydrogenase subunit 4,protein-coding,-,-,-,NADH dehydrogenase subunit 4,20191223,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17061453,39947,129493522,LOC129493522,-,-,-,-,-,"Trans-2-enoyl-CoA reductase (TER) and 2,4-dien...",protein-coding,-,-,-,"Trans-2-enoyl-CoA reductase (TER) and 2,4-dien...",20230517,-
17061454,39947,129602878,LOC129602878,-,-,-,-,-,carboxylesterase,protein-coding,-,-,-,carboxylesterase,20230517,-
17061455,39947,129734111,LOC129734111,-,-,-,-,-,MAPK kinase substrate protein,protein-coding,-,-,-,MAPK kinase substrate protein,20230517,-
17061456,39947,129785819,LOC129785819,-,-,-,-,-,KRI1-like family,protein-coding,-,-,-,KRI1-like family,20230517,-
17061457,39947,130369635,LOC130369635,-,-,-,-,-,2'-deoxymugineic-acid 2'-dioxygenase,protein-coding,-,-,-,2'-deoxymugineic-acid 2'-dioxygenase,20230531,-

In [16]:
ncbi_data_trimmed['#tax_id'].value_counts()

4565     155758
3818     109241
4097      74273
3847      59152
3711      51831
4577      49744
3750      45743
3880      39593
3702      38313
39947     35298
4113      32969
4558      32951
15368     31365
4081      31328
29760     29998
3659      24031
4530        218
Name: #tax_id, dtype: int64

In [17]:
species_subset['External ID'] = species_subset['External ID'].astype('Int64')

/tmp/ipykernel_817436/3867879942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  species_subset['External ID'] = species_subset['External ID'].astype('Int64')

In [18]:
species_subset

             Orthodb Gene  External ID Database Name Species
124009376  15368_0:000000    100829170       NCBIgid   15368
124009387  15368_0:000001    100840094       NCBIgid   15368
124009402  15368_0:000002    100841678       NCBIgid   15368
124009414  15368_0:000003    100844153       NCBIgid   15368
124009422  15368_0:000004    100841477       NCBIgid   15368
...                   ...          ...           ...     ...
410610061   4577_0:0085a4      5469132       NCBIgid    4577
410610078   4577_0:0085a5       845234       NCBIgid    4577
410610084   4577_0:0085a6      1466377       NCBIgid    4577
410610103   4577_0:0085a7       845193       NCBIgid    4577
410610108   4577_0:0085a8      1466381       NCBIgid    4577

[522043 rows x 4 columns]

In [19]:
merged_ncbi_and_species = species_subset.merge(right=ncbi_data_trimmed[['GeneID','Symbol']], right_on='GeneID',left_on='External ID')
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
521979,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
521980,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
521981,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
521982,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
521983,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [20]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Orthodb Gene'] == '39947_0:0009d9']

          Orthodb Gene  External ID Database Name Species   GeneID Symbol
318022  39947_0:0009d9      4326011       NCBIgid   39947  4326011   LPR2

In [22]:
rice_gene_info = pd.read_csv('/data/CoCoCoNet/geneInfo/rice_info.csv')
rice_gene_info

,EntrezID,EnsemblID,GeneSymbol,LocusTag,Synonyms,dbXrefs,Chromosome,Type,UniProtID,UniProtID2,OrthoID,NetworkIDs
0,4326813.0,Os01g0100100,LOC4326813,OSNPB_010100100,|P0672D08.1|,|NA|,1.0,protein-coding,A0A0P0UX28,NaN,39947_0:0005fa,Os01g0100100
1,4326456.0,Os01g0100600,LOC4326456,OSNPB_010100600,|P0672D08.5|,|NA|,1.0,protein-coding,Q655L7,NaN,39947_0:000d54,Os01g0100600
2,4326457.0,Os01g0100700,LOC4326457,OSNPB_010100700,|P0402A09.2|P0672D08.6|,|NA|,1.0,protein-coding,Q93VC6,NaN,39947_0:000092,Os01g0100700
3,4326458.0,Os01g0100800,LOC4326458,OSNPB_010100800,|P0402A09.3|P0672D08.7|,|NA|,1.0,protein-coding,Q655L6,NaN,39947_0:000b6a,Os01g0100800
4,4326459.0,Os01g0100900,LOC4326459,OSNPB_010100900,|P0402A09.4|P0672D08.8|S1PL|SP-lyase|SPL|,|NA|,1.0,protein-coding,Q52RG7,Q52RG7,39947_0:0000be,Os01g0100900
...,...,...,...,...,...,...,...,...,...,...,...,...
36845,NaN,CAA33928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAA33928
36846,NaN,ENSRNA050013646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSRNA050013646
36847,NaN,CAA33926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAA33926
36848,NaN,EPlORYSAT000373848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EPlORYSAT000373848
36849,NaN,CAA33927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAA33927

In [23]:
arab_gene_info = pd.read_csv('/data/CoCoCoNet/geneInfo/arabidopsis_info.csv')
soybean_gene_info = pd.read_csv('/data/CoCoCoNet/geneInfo/soybean_info.csv')
maize_gene_info =pd.read_csv('/data/CoCoCoNet/geneInfo/maize_info.csv')

In [24]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = rice_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
521979,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
521980,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
521981,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
521982,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
521983,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [25]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = arab_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
521979,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
521980,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
521981,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
521982,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
521983,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [26]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = soybean_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
521979,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
521980,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
521981,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
521982,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
521983,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [27]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = maize_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
521979,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
521980,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
521981,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
521982,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
521983,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [28]:
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
521979,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
521980,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
521981,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
521982,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
521983,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [ ]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "39947"]

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
315500,39947_0:000000,107278768,NCBIgid,39947,107278768,LOC107278768
315501,39947_0:000001,107280855,NCBIgid,39947,107280855,LOC107280855
315502,39947_0:000002,4326223,NCBIgid,39947,4326223,Os01g0176500
315503,39947_0:000003,4326227,NCBIgid,39947,4326227,Os01g0256900
315504,39947_0:000004,4327536,NCBIgid,39947,4327536,LOC4327536
...,...,...,...,...,...,...
344155,39947_0:006fef,6450174,NCBIgid,39947,6450174,orf152b
344156,39947_0:006ff0,6450143,NCBIgid,39947,6450143,nad5
344157,39947_0:006ff1,6450134,NCBIgid,39947,6450134,orf194
344158,39947_0:006ff2,6450193,NCBIgid,39947,6450193,rps13
344159,39947_0:006ff3,6450152,NCBIgid,39947,6450152,orfB

In [29]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Orthodb Gene'] == '39947_0:0009d9']

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
318022,39947_0:0009d9,4326011,NCBIgid,39947,4326011,Os01g0126200

In [30]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "4577"]

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
489492,4577_0:000000,103630963,NCBIgid,4577,103630963,LOC103630963
489493,4577_0:000001,100281771,NCBIgid,4577,100281771,LOC100281771
489494,4577_0:000003,100194129,NCBIgid,4577,100194129,LOC100194129
489495,4577_0:000004,103634545,NCBIgid,4577,103634545,LOC103634545
489496,4577_0:000005,103643389,NCBIgid,4577,103643389,Zm00001d032520
...,...,...,...,...,...,...
521979,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
521980,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
521981,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
521982,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
521983,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [31]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "3847"]

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
241088,3847_0:000000,100306464,NCBIgid,3847,100306464,GLYMA_01G045400
241089,3847_0:000001,100527006,NCBIgid,3847,100527006,GLYMA_01G036600
241090,3847_0:000002,100788563,NCBIgid,3847,100788563,GLYMA_01G199200
241091,3847_0:000003,100798958,NCBIgid,3847,100798958,GLYMA_01G173700
241092,3847_0:000004,100306654,NCBIgid,3847,100306654,GLYMA_01G199700
...,...,...,...,...,...,...
286309,3847_0:00b78e,15308575,NCBIgid,3847,15308575,matR
286310,3847_0:00b78f,15308616,NCBIgid,3847,15308616,orf136a
286311,3847_0:00b790,15308530,NCBIgid,3847,15308530,rps12
286312,3847_0:00b791,15308613,NCBIgid,3847,15308613,nad9
286313,3847_0:00b792,15308533,NCBIgid,3847,15308533,nad5

In [32]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "3702"]

        Orthodb Gene  External ID Database Name Species  GeneID     Symbol
71224  3702_0:000000       840273       NCBIgid    3702  840273  AT1G33810
71225  3702_0:000001       843222       NCBIgid    3702  843222  AT1G68890
71226  3702_0:000002       838518       NCBIgid    3702  838518  AT1G19350
71227  3702_0:000003       840259       NCBIgid    3702  840259  AT1G33680
71228  3702_0:000004       839031       NCBIgid    3702  839031  AT1G24180
...              ...          ...           ...     ...     ...        ...
98596  3702_0:006aec       844731       NCBIgid    3702  844731       psbT
98597  3702_0:006aed       844801       NCBIgid    3702  844801      rps12
98598  3702_0:006aee       844741       NCBIgid    3702  844741       ndhE
98599  3702_0:006aef       844784       NCBIgid    3702  844784      rpoC1
98600  3702_0:006af0       844758       NCBIgid    3702  844758       atpE

[27377 rows x 6 columns]

In [33]:
merged_ncbi_and_species['Species'].value_counts()

3818     65719
4097     61691
3847     45226
3711     40924
3750     35844
4577     32492
3880     29186
39947    28660
4113     28352
4558     28179
3702     27377
29760    25749
4081     25498
15368    25478
3659     19997
4565      1612
Name: Species, dtype: int64

In [ ]:
merged_ncbi_and_species.to_csv('/data/passala/OrthoDB_data/NCBI_data/merged_ncbi_to_orthodb_fixed_non_genesymbol.csv',index=False)

In [ ]:
### Rerun MakePairwiseAlignment file later and then resume