In [1]:
import pandas as pd 
import CococoNet_reader 
import gc 
import numpy as np

In [2]:
gene_xref = pd.read_csv('/data/passala/OrthoDB_data/odb11v0_gene_xrefs.tab',names = ['Orthodb Gene','External ID','Database Name'],sep = '\t')

In [4]:
species_with_nets = pd.read_csv('/data/passala/Generated_Tables/Reference_tables/Species_name_resolver.csv')
species_with_nets = species_with_nets[:18]
# # species_with_nets = species_with_nets.drop(index = [13,14])
# # species_with_nets.loc[0,'Taxa ID'] = 39947 
taxa_to_keep = species_with_nets['Taxa ID'].astype(str).to_list()
taxa_to_keep_int = species_with_nets['Taxa ID'].to_list()
taxa_to_keep

['4530',
 '39947',
 '3750',
 '4558',
 '4577',
 '29760',
 '3711',
 '3847',
 '3880',
 '4097',
 '4113',
 '4081',
 '3702',
 '3818',
 '4565',
 '3659',
 '3708',
 '15368']

In [5]:
taxa_to_keep_int

[4530,
 39947,
 3750,
 4558,
 4577,
 29760,
 3711,
 3847,
 3880,
 4097,
 4113,
 4081,
 3702,
 3818,
 4565,
 3659,
 3708,
 15368]

In [6]:
taxa_to_keep_int.append(3694)

In [7]:
taxa_to_keep.append('3694')

In [8]:
gene_subset = gene_xref.loc[gene_xref['Database Name']=='NCBIgid']

In [9]:
gene_subset['Species']  = gene_subset['Orthodb Gene'].str.split('_').str[0]

/tmp/ipykernel_790693/3814280915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gene_subset['Species']  = gene_subset['Orthodb Gene'].str.split('_').str[0]

In [10]:
gene_subset

               Orthodb Gene External ID Database Name  Species
31362      1000373_1:000000    11604942       NCBIgid  1000373
91083      1000664_1:000000    37617265       NCBIgid  1000664
91087      1000664_1:000001    37617263       NCBIgid  1000664
91112      1000664_1:000002    37617264       NCBIgid  1000664
91122      1000664_1:000003    37617266       NCBIgid  1000664
...                     ...         ...           ...      ...
553412630     9999_0:004bd4   113178698       NCBIgid     9999
553412632     9999_0:004bd5   113178700       NCBIgid     9999
553412634     9999_0:004bd6   113178701       NCBIgid     9999
553412636     9999_0:004bd7   113178704       NCBIgid     9999
553412638     9999_0:004bd8   113178705       NCBIgid     9999

[19243112 rows x 4 columns]

In [11]:
species_subset = gene_subset.loc[gene_subset['Species'].isin(taxa_to_keep)]

In [12]:
del gene_subset
del gene_xref
gc.collect()

206

In [13]:
species_subset.loc[species_subset['Orthodb Gene'] == '39947_0:0009d9']

             Orthodb Gene External ID Database Name Species
383876639  39947_0:0009d9     4326011       NCBIgid   39947

In [14]:
species_subset['Species'].value_counts()

3708     71993
3818     65719
4097     61692
3847     45233
3711     40924
3750     35845
4577     32531
3694     31598
3880     29196
39947    28660
4113     28353
4558     28179
3702     27377
29760    25749
4081     25498
15368    25478
3659     19997
4565      1612
Name: Species, dtype: int64

In [15]:
species_subset.loc[species_subset['Species']=='3659']

            Orthodb Gene External ID Database Name Species
364348032  3659_0:000000   105434526       NCBIgid    3659
364348035  3659_0:000001   101211643       NCBIgid    3659
364348037  3659_0:000002   116402997       NCBIgid    3659
364348040  3659_0:000003   105436360       NCBIgid    3659
364348049  3659_0:000004   101206600       NCBIgid    3659
...                  ...         ...           ...     ...
364523621  3659_0:004e18     3429281       NCBIgid    3659
364523636  3659_0:004e19     3429307       NCBIgid    3659
364523656  3659_0:004e1a     3429272       NCBIgid    3659
364523670  3659_0:004e1b     3429294       NCBIgid    3659
364523688  3659_0:004e1c     3429258       NCBIgid    3659

[19997 rows x 4 columns]

In [16]:
species_subset

             Orthodb Gene External ID Database Name Species
124009376  15368_0:000000   100829170       NCBIgid   15368
124009387  15368_0:000001   100840094       NCBIgid   15368
124009402  15368_0:000002   100841678       NCBIgid   15368
124009414  15368_0:000003   100844153       NCBIgid   15368
124009422  15368_0:000004   100841477       NCBIgid   15368
...                   ...         ...           ...     ...
410610061   4577_0:0085a4     5469132       NCBIgid    4577
410610078   4577_0:0085a5      845234       NCBIgid    4577
410610084   4577_0:0085a6     1466377       NCBIgid    4577
410610103   4577_0:0085a7      845193       NCBIgid    4577
410610108   4577_0:0085a8     1466381       NCBIgid    4577

[625634 rows x 4 columns]

In [17]:
ncbi_data = pd.read_csv('/data/passala/OrthoDB_data/NCBI_data/All_Plants.gene_info', sep = '\t')
ncbi_data

/tmp/ipykernel_790693/4060169535.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  ncbi_data = pd.read_csv('/data/passala/OrthoDB_data/NCBI_data/All_Plants.gene_info', sep = '\t')

,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
0,2708,32882134,rps12,CCN83_pgp049,-,-,-,-,ribosomal protein S12,protein-coding,-,-,-,ribosomal protein S12,20230622,-
1,2708,32882135,clpP,CCN83_pgp047,-,-,-,-,ATP-dependent Clp protease proteolytic subunit,protein-coding,-,-,-,ATP-dependent Clp protease proteolytic subunit,20230622,-
2,2708,32882136,trnH-GUG,CCN83_pgt001,-,-,-,-,tRNA-His,tRNA,-,-,-,-,20230622,-
3,2708,32882137,ycf15,CCN83_pgp028,-,-,-,-,hypothetical chloroplast RF15,protein-coding,-,-,-,hypothetical chloroplast RF15,20230622,-
4,2708,32882138,trnI-CAU,CCN83_pgt037,-,-,-,-,tRNA-Ile,tRNA,-,-,-,-,20230622,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9439963,3349806,76356397,psbK,OOA49_pgp084,-,-,-,-,photosystem II protein K,protein-coding,-,-,-,photosystem II protein K,20240927,-
9439964,3349806,76356398,rrn16,OOA49_pgr008,-,-,-,-,16S ribosomal RNA,rRNA,-,-,-,-,20240927,-
9439965,3349806,76356399,rps7,OOA49_pgp006,-,-,-,-,ribosomal protein S7,protein-coding,-,-,-,ribosomal protein S7,20240927,-
9439966,3349806,76356400,petN,OOA49_pgp074,-,-,-,-,cytochrome b6/f complex subunit VIII,protein-coding,-,-,-,cytochrome b6/f complex subunit VIII,20240927,-
9439967,3349806,76356401,trnfM-CAU,OOA49_pgt014,-,-,-,-,tRNA-Met,tRNA,-,-,-,-,20240927,-

In [16]:
ncbi_data.loc[1000000,'#tax_id']

3711

In [18]:
ncbi_data_trimmed = ncbi_data.loc[ncbi_data['#tax_id'].isin(taxa_to_keep_int)]
ncbi_data_trimmed

,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
588487,3659,3429252,ndhA,CsCp110,ndh1,-,-,-,NADH dehydrogenase subunit 1,protein-coding,-,-,-,NADH dehydrogenase subunit 1,20231006,-
588488,3659,3429253,ndhB,CsCp088,ndh2,-,-,-,NADH dehydrogenase subunit 2,protein-coding,-,-,-,NADH dehydrogenase subunit 2,20230818,-
588489,3659,3429254,ndhB,CsCp125,ndh2,-,-,-,NADH dehydrogenase subunit 2,protein-coding,-,-,-,NADH dehydrogenase subunit 2,20230818,-
588490,3659,3429255,ndhC,CsCp043,ndh3,-,-,-,NADH dehydrogenase subunit 3,protein-coding,-,-,-,NADH dehydrogenase subunit 3,20230531,-
588491,3659,3429256,ndhD,CsCp105,ndh4,-,-,-,NADH dehydrogenase subunit 4,protein-coding,-,-,-,NADH dehydrogenase subunit 4,20231006,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272498,39947,136357547,LOC136357547,-,-,-,8,-,uncharacterized LOC136357547,ncRNA,-,-,-,-,20240712,-
4272499,39947,136357548,LOC136357548,-,-,-,1,-,uncharacterized LOC136357548,pseudo,-,-,-,-,20240712,-
4272500,39947,136357549,LOC136357549,-,-,-,8,-,uncharacterized LOC136357549,ncRNA,-,-,-,-,20240712,-
4272501,39947,136357550,LOC136357550,-,-,-,8,-,uncharacterized LOC136357550,protein-coding,-,-,-,uncharacterized protein LOC136357550|P0404D10.35,20241203,-
4272502,39947,136357551,LOC136357551,-,-,-,8,-,uncharacterized LOC136357551,ncRNA,-,-,-,-,20240712,-

In [19]:
ncbi_data_trimmed['#tax_id'].value_counts()

4565     155762
3708     123229
3818     109241
4097      74233
3847      59141
3750      52002
3711      51831
4577      49744
4081      41528
3880      39594
39947     39424
3702      38313
3694      34636
4113      32959
4558      32952
15368     31367
29760     29615
3659      24031
4530        218
Name: #tax_id, dtype: int64

In [20]:
species_subset['External ID'] = species_subset['External ID'].astype('Int64')

/tmp/ipykernel_790693/3867879942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  species_subset['External ID'] = species_subset['External ID'].astype('Int64')

In [21]:
species_subset

             Orthodb Gene  External ID Database Name Species
124009376  15368_0:000000    100829170       NCBIgid   15368
124009387  15368_0:000001    100840094       NCBIgid   15368
124009402  15368_0:000002    100841678       NCBIgid   15368
124009414  15368_0:000003    100844153       NCBIgid   15368
124009422  15368_0:000004    100841477       NCBIgid   15368
...                   ...          ...           ...     ...
410610061   4577_0:0085a4      5469132       NCBIgid    4577
410610078   4577_0:0085a5       845234       NCBIgid    4577
410610084   4577_0:0085a6      1466377       NCBIgid    4577
410610103   4577_0:0085a7       845193       NCBIgid    4577
410610108   4577_0:0085a8      1466381       NCBIgid    4577

[625634 rows x 4 columns]

In [22]:
merged_ncbi_and_species = species_subset.merge(right=ncbi_data_trimmed[['GeneID','Symbol']], right_on='GeneID',left_on='External ID')
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [23]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Orthodb Gene'] == '39947_0:0009d9']

          Orthodb Gene  External ID Database Name Species   GeneID Symbol
413660  39947_0:0009d9      4326011       NCBIgid   39947  4326011   LPR2

In [24]:
rice_gene_info = pd.read_csv('/data/CoCoCoNet/geneInfo/rice_info.csv')
rice_gene_info

,EntrezID,EnsemblID,GeneSymbol,LocusTag,Synonyms,dbXrefs,Chromosome,Type,UniProtID,UniProtID2,OrthoID,NetworkIDs
0,4326813.0,Os01g0100100,LOC4326813,OSNPB_010100100,|P0672D08.1|,|NA|,1.0,protein-coding,A0A0P0UX28,NaN,39947_0:0005fa,Os01g0100100
1,4326456.0,Os01g0100600,LOC4326456,OSNPB_010100600,|P0672D08.5|,|NA|,1.0,protein-coding,Q655L7,NaN,39947_0:000d54,Os01g0100600
2,4326457.0,Os01g0100700,LOC4326457,OSNPB_010100700,|P0402A09.2|P0672D08.6|,|NA|,1.0,protein-coding,Q93VC6,NaN,39947_0:000092,Os01g0100700
3,4326458.0,Os01g0100800,LOC4326458,OSNPB_010100800,|P0402A09.3|P0672D08.7|,|NA|,1.0,protein-coding,Q655L6,NaN,39947_0:000b6a,Os01g0100800
4,4326459.0,Os01g0100900,LOC4326459,OSNPB_010100900,|P0402A09.4|P0672D08.8|S1PL|SP-lyase|SPL|,|NA|,1.0,protein-coding,Q52RG7,Q52RG7,39947_0:0000be,Os01g0100900
...,...,...,...,...,...,...,...,...,...,...,...,...
36845,NaN,CAA33928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAA33928
36846,NaN,ENSRNA050013646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSRNA050013646
36847,NaN,CAA33926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAA33926
36848,NaN,EPlORYSAT000373848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EPlORYSAT000373848
36849,NaN,CAA33927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAA33927

In [25]:
arab_gene_info = pd.read_csv('/data/CoCoCoNet/geneInfo/arabidopsis_info.csv')
soybean_gene_info = pd.read_csv('/data/CoCoCoNet/geneInfo/soybean_info.csv')
maize_gene_info =pd.read_csv('/data/CoCoCoNet/geneInfo/maize_info.csv')

In [26]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = rice_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [27]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = arab_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [28]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = soybean_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [29]:
merged_ncbi_and_species = merged_ncbi_and_species.merge(how = 'left', right = maize_gene_info[['EntrezID','NetworkIDs']],left_on='GeneID',right_on='EntrezID')
merged_ncbi_and_species['NetworkIDs'] = merged_ncbi_and_species['NetworkIDs'].fillna(value = merged_ncbi_and_species['Symbol'])
merged_ncbi_and_species = merged_ncbi_and_species.drop(columns = ['Symbol','EntrezID'])
merged_ncbi_and_species = merged_ncbi_and_species.rename(columns = {'NetworkIDs':'Symbol'})
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [30]:
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [31]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "39947"]

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
411225,39947_0:000000,107278768,NCBIgid,39947,107278768,LOC107278768
411226,39947_0:000002,4326223,NCBIgid,39947,4326223,Os01g0176500
411227,39947_0:000003,4326227,NCBIgid,39947,4326227,Os01g0256900
411228,39947_0:000004,4327536,NCBIgid,39947,4327536,LOC4327536
411229,39947_0:000005,107275900,NCBIgid,39947,107275900,LOC107275900
...,...,...,...,...,...,...
438811,39947_0:006fef,6450174,NCBIgid,39947,6450174,orf152b
438812,39947_0:006ff0,6450143,NCBIgid,39947,6450143,nad5
438813,39947_0:006ff1,6450134,NCBIgid,39947,6450134,orf194
438814,39947_0:006ff2,6450193,NCBIgid,39947,6450193,rps13
438815,39947_0:006ff3,6450152,NCBIgid,39947,6450152,orfB

In [32]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Orthodb Gene'] == '39947_0:0009d9']

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
413660,39947_0:0009d9,4326011,NCBIgid,39947,4326011,Os01g0126200

In [33]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "4577"]

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
582813,4577_0:000000,103630963,NCBIgid,4577,103630963,LOC103630963
582814,4577_0:000001,100281771,NCBIgid,4577,100281771,LOC100281771
582815,4577_0:000003,100194129,NCBIgid,4577,100194129,LOC100194129
582816,4577_0:000004,103634545,NCBIgid,4577,103634545,LOC103634545
582817,4577_0:000005,103643389,NCBIgid,4577,103643389,Zm00001d032520
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [34]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "3847"]

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
336815,3847_0:000000,100306464,NCBIgid,3847,100306464,GLYMA_01G045400
336816,3847_0:000001,100527006,NCBIgid,3847,100527006,GLYMA_01G036600
336817,3847_0:000002,100788563,NCBIgid,3847,100788563,GLYMA_01G199200
336818,3847_0:000003,100798958,NCBIgid,3847,100798958,GLYMA_01G173700
336819,3847_0:000004,100306654,NCBIgid,3847,100306654,GLYMA_01G199700
...,...,...,...,...,...,...
382034,3847_0:00b78e,15308575,NCBIgid,3847,15308575,matR
382035,3847_0:00b78f,15308616,NCBIgid,3847,15308616,orf136a
382036,3847_0:00b790,15308530,NCBIgid,3847,15308530,rps12
382037,3847_0:00b791,15308613,NCBIgid,3847,15308613,nad9
382038,3847_0:00b792,15308533,NCBIgid,3847,15308533,nad5

In [35]:
merged_ncbi_and_species['Species'].value_counts()

3708     71919
3818     65719
4097     61660
3847     45224
3711     40924
3750     33120
4577     32492
3880     29186
3694     28497
4113     28350
4558     28179
39947    27591
3702     27377
15368    25478
4081     24196
29760    23784
3659     19997
4565      1612
Name: Species, dtype: int64

In [36]:
merged_ncbi_and_species.loc[merged_ncbi_and_species['Species'] == "3702"]

         Orthodb Gene  External ID Database Name Species  GeneID     Symbol
97756   3702_0:000000       840273       NCBIgid    3702  840273  AT1G33810
97757   3702_0:000001       843222       NCBIgid    3702  843222  AT1G68890
97758   3702_0:000002       838518       NCBIgid    3702  838518  AT1G19350
97759   3702_0:000003       840259       NCBIgid    3702  840259  AT1G33680
97760   3702_0:000004       839031       NCBIgid    3702  839031  AT1G24180
...               ...          ...           ...     ...     ...        ...
125128  3702_0:006aec       844731       NCBIgid    3702  844731       psbT
125129  3702_0:006aed       844801       NCBIgid    3702  844801      rps12
125130  3702_0:006aee       844741       NCBIgid    3702  844741       ndhE
125131  3702_0:006aef       844784       NCBIgid    3702  844784      rpoC1
125132  3702_0:006af0       844758       NCBIgid    3702  844758       atpE

[27377 rows x 6 columns]

In [37]:
og_2_genes = pd.read_csv('/data/passala/OrthoDB_data/embryophyta_groups.csv', names = ['Orthogroup','Gene', 'Species'])

In [38]:
og_2_genes['Ortholevel'] = og_2_genes['Orthogroup'].str.split('at').str[1]

In [39]:
og_2_genes

        Orthogroup              Gene  Species Ortholevel
0         0at31932  1001994_1:00009e  1001994      31932
1         0at31932  1470066_1:0004e4  1470066      31932
2         0at31932  1580092_1:0006c0  1580092      31932
3         0at31932  1582439_1:0003c8  1582439      31932
4         0at31932  1776294_1:0005c6  1776294      31932
...            ...               ...      ...        ...
4805413   9at31932  1229909_1:000501  1229909      31932
4805414   9at31932  1470067_1:000688  1470067      31932
4805415   9at31932  1582439_1:000436  1582439      31932
4805416   9at31932   436308_1:0000c6   436308      31932
4805417   9at31932   718286_1:00017a   718286      31932

[4805418 rows x 4 columns]

In [40]:
og_2_genes_embryphyta = og_2_genes.loc[og_2_genes['Ortholevel'] == '3193']

In [41]:
og_2_genes_embryphyta = og_2_genes_embryphyta.drop(columns = 'Species')

In [42]:
full_merged_ncbi = merged_ncbi_and_species.merge(how = 'left', left_on=  'Orthodb Gene', right_on= 'Gene', right = og_2_genes_embryphyta)
full_merged_ncbi

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol,Orthogroup,Gene,Ortholevel
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170,67026at3193,15368_0:000000,3193
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094,7376at3193,15368_0:000001,3193
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678,325723at3193,15368_0:000002,3193
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153,117946at3193,15368_0:000003,3193
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477,658893at3193,15368_0:000004,3193
...,...,...,...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159,68168at3193,4577_0:0085a4,3193
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19,868182at3193,4577_0:0085a5,3193
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081,125785at3193,4577_0:0085a6,3193
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD,866429at3193,4577_0:0085a7,3193
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095,NaN,NaN,NaN

In [43]:
full_merged_ncbi = full_merged_ncbi[['Orthogroup','Gene', 'Species','Ortholevel','Orthodb Gene', 'Symbol']]
full_merged_ncbi

,Orthogroup,Gene,Species,Ortholevel,Orthodb Gene,Symbol
0,67026at3193,15368_0:000000,15368,3193,15368_0:000000,LOC100829170
1,7376at3193,15368_0:000001,15368,3193,15368_0:000001,LOC100840094
2,325723at3193,15368_0:000002,15368,3193,15368_0:000002,LOC100841678
3,117946at3193,15368_0:000003,15368,3193,15368_0:000003,LOC100844153
4,658893at3193,15368_0:000004,15368,3193,15368_0:000004,LOC100841477
...,...,...,...,...,...,...
615300,68168at3193,4577_0:0085a4,4577,3193,4577_0:0085a4,ZemaCp159
615301,868182at3193,4577_0:0085a5,4577,3193,4577_0:0085a5,rps19
615302,125785at3193,4577_0:0085a6,4577,3193,4577_0:0085a6,ZemaCp081
615303,866429at3193,4577_0:0085a7,4577,3193,4577_0:0085a7,petD
615304,NaN,NaN,4577,NaN,4577_0:0085a8,ZemaCp095

In [44]:
merged_ncbi_and_species

,Orthodb Gene,External ID,Database Name,Species,GeneID,Symbol
0,15368_0:000000,100829170,NCBIgid,15368,100829170,LOC100829170
1,15368_0:000001,100840094,NCBIgid,15368,100840094,LOC100840094
2,15368_0:000002,100841678,NCBIgid,15368,100841678,LOC100841678
3,15368_0:000003,100844153,NCBIgid,15368,100844153,LOC100844153
4,15368_0:000004,100841477,NCBIgid,15368,100841477,LOC100841477
...,...,...,...,...,...,...
615300,4577_0:0085a4,5469132,NCBIgid,4577,5469132,ZemaCp159
615301,4577_0:0085a5,845234,NCBIgid,4577,845234,rps19
615302,4577_0:0085a6,1466377,NCBIgid,4577,1466377,ZemaCp081
615303,4577_0:0085a7,845193,NCBIgid,4577,845193,petD
615304,4577_0:0085a8,1466381,NCBIgid,4577,1466381,ZemaCp095

In [46]:
full_merged_ncbi.to_csv('/data/passala/OrthoDB_data/NCBI_data/merged_ncbi_to_orthodb_fixed_non_genesymbol_updated_poplar.csv',index=False)

In [ ]:
### Rerun MakePairwiseAlignment file later and then resume