In [1]:
import pyreadr 
import pandas as pd
import pickle

In [2]:
og2genes = pd.read_csv('/data/passala/OrthoDB_data/odb11v0_OG2genes.tab',sep = '\t', names=['Orthogroup','Gene'])
og2genes

          Orthogroup              Gene
0          0at100953   111167_1:000002
1          0at100953  1123958_1:00001c
2          0at100953   114102_1:000001
3          0at100953   114430_1:000014
4          0at100953  1193422_1:000016
...              ...               ...
508315987   9at99479  1193518_0:0008fd
508315988   9at99479  1194083_0:000e35
508315989   9at99479   173053_0:000a91
508315990   9at99479  1736399_0:000852
508315991   9at99479  1813880_0:0005b0

[508315992 rows x 2 columns]

In [3]:
og2genes['Taxa ID'] = og2genes['Gene'].str.replace('_.*','',regex = True)
og2genes

          Orthogroup              Gene  Taxa ID
0          0at100953   111167_1:000002   111167
1          0at100953  1123958_1:00001c  1123958
2          0at100953   114102_1:000001   114102
3          0at100953   114430_1:000014   114430
4          0at100953  1193422_1:000016  1193422
...              ...               ...      ...
508315987   9at99479  1193518_0:0008fd  1193518
508315988   9at99479  1194083_0:000e35  1194083
508315989   9at99479   173053_0:000a91   173053
508315990   9at99479  1736399_0:000852  1736399
508315991   9at99479  1813880_0:0005b0  1813880

[508315992 rows x 3 columns]

In [4]:
og2genes.to_csv('/data/passala/OrthoDB_data/cleaned_og2genes.csv',index=False)
file_og2genes = open('/data/passala/Generated_Tables/Comparing_all_go_groups_across_species/OrthoDB_python_files/orthodb_v11_og2genes.p','wb')
pickle.dump(og2genes,file_og2genes)
file_og2genes.close()

In [4]:
genes = pd.read_csv('/data/passala/OrthoDB_data/odb11v0_genes.tab',sep = '\t', names=['Gene','Species','Refseq','Gene Symbol','Genbank','Ensembl','Uniprot','Annotation'])
genes

/tmp/ipykernel_85069/1883701445.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  genes = pd.read_csv('/data/passala/OrthoDB_data/odb11v0_genes.tab',sep = '\t', names=['Gene','Species','Refseq','Gene Symbol','Genbank','Ensembl','Uniprot','Annotation'])

,Gene,Species,Refseq,Gene Symbol,Genbank,Ensembl,Uniprot,Annotation
0,100_0:000000,100_0,WP_131833652.1,EV667_RS01940,A0A4R1I8Y6,NaN,NaN,A0A4R1I8Y6_ANCAQ
1,100_0:000001,100_0,WP_131834425.1,EV667_RS06425,A0A4R1IBT8,NaN,NaN,A0A4R1IBT8_ANCAQ
2,100_0:000002,100_0,WP_131835073.1,EV667_RS07960,NaN,NaN,NaN,GNAT family N-acetyltransferase
3,100_0:000003,100_0,WP_131834175.1,EV667_RS05015,A0A4V2PK40,NaN,NaN,A0A4V2PK40_ANCAQ
4,100_0:000004,100_0,WP_131834578.1,EV667_RS07250,A0A4R1IAQ2,NaN,NaN,Biopolymer transport protein ExbB
...,...,...,...,...,...,...,...,...
101009655,u_694002_316:000015,u_694002_316,YP_009725308.1,YP_009725308.1,NaN,NaN,NaN,NaN
101009656,u_694002_316:000016,u_694002_316,YP_009725309.1,YP_009725309.1,NaN,NaN,NaN,NaN
101009657,u_694002_316:000017,u_694002_316,YP_009725310.1,YP_009725310.1,NaN,NaN,NaN,NaN
101009658,u_694002_316:000018,u_694002_316,YP_009725311.1,YP_009725311.1,NaN,NaN,NaN,NaN
101009659,u_694002_316:000019,u_694002_316,YP_009725312.1,YP_009725312.1,NaN,NaN,NaN,NaN

In [5]:
genes = genes.drop(columns=['Ensembl','Uniprot'])
genes

,Gene,Species,Refseq,Gene Symbol,Genbank,Annotation
0,100_0:000000,100_0,WP_131833652.1,EV667_RS01940,A0A4R1I8Y6,A0A4R1I8Y6_ANCAQ
1,100_0:000001,100_0,WP_131834425.1,EV667_RS06425,A0A4R1IBT8,A0A4R1IBT8_ANCAQ
2,100_0:000002,100_0,WP_131835073.1,EV667_RS07960,NaN,GNAT family N-acetyltransferase
3,100_0:000003,100_0,WP_131834175.1,EV667_RS05015,A0A4V2PK40,A0A4V2PK40_ANCAQ
4,100_0:000004,100_0,WP_131834578.1,EV667_RS07250,A0A4R1IAQ2,Biopolymer transport protein ExbB
...,...,...,...,...,...,...
101009655,u_694002_316:000015,u_694002_316,YP_009725308.1,YP_009725308.1,NaN,NaN
101009656,u_694002_316:000016,u_694002_316,YP_009725309.1,YP_009725309.1,NaN,NaN
101009657,u_694002_316:000017,u_694002_316,YP_009725310.1,YP_009725310.1,NaN,NaN
101009658,u_694002_316:000018,u_694002_316,YP_009725311.1,YP_009725311.1,NaN,NaN
101009659,u_694002_316:000019,u_694002_316,YP_009725312.1,YP_009725312.1,NaN,NaN

In [6]:
file_genes = open('/data/passala/Generated_Tables/Comparing_all_go_groups_across_species/OrthoDB_python_files/orthodb_v11_genes.p','wb')
pickle.dump(genes,file_genes)
file_genes.close()

In [3]:
genes = pyreadr.read_r('/data/shah/orthologs/orthodb/v10/genes.Rdata')

In [4]:
genes_pd = genes['genes']

In [5]:
og2genes = pyreadr.read_r('/data/shah/orthologs/orthodb/v10/og2genes.Rdata')

In [6]:
og2genes_pd = og2genes['OG2genes']

In [7]:
og2genes_pd

                  V1                V2        a
0          0at100953   111167_0:00001a   111167
1          0at100953   114430_0:00001a   114430
2          0at100953   130328_0:000013   130328
3          0at100953   130499_0:000015   130499
4          0at100953  1580497_0:000003  1580497
...              ...               ...      ...
187406842    9at9989    51337_0:001904    51337
187406843    9at9989    51338_0:0042bb    51338
187406844    9at9989    79684_0:0010a9    79684
187406845    9at9989   885580_0:004642   885580
187406846    9at9989     9994_0:0038e6     9994

[187406847 rows x 3 columns]

In [11]:
genes_pd

,V1,V2,V3,V4,V5
0,1000373_0:000000,1000373_0,YP_005097972.1,RnQV1s1_gp1,hypothetical protein
1,1000373_0:000001,1000373_0,YP_005097974.1,RnQV1s2_gp1,structural protein
2,1000373_0:000002,1000373_0,YP_005097975.1,RdRp,RNA dependent RNA polymerase
3,1000373_0:000003,1000373_0,YP_005097973.1,RnQV1s4_gp1,structural protein
4,1000562_0:000000,1000562_0,WP_037594048.1,WP_037594048.1,competence protein ComX
...,...,...,...,...,...
40558802,999898_0:001238,999898_0,WP_047831901.1,yfmO_2,Multidrug efflux protein YfmO
40558803,999898_0:001239,999898_0,WP_047831902.1,A0A0J1I2X1_9FIRM,A0A0J1I2X1_9FIRM
40558804,999898_0:00123a,999898_0,WP_053060993.1,CEB3_RS24905,hypothetical protein
40558805,999898_0:00123b,999898_0,WP_047831904.1,queD,"6-carboxy-5,6,7,8-tetrahydropterin synthase"
40558806,999898_0:00123c,999898_0,WP_047831905.1,queC,7-cyano-7-deazaguanine synthase

In [14]:
file_genes = open('/data/passala/Generated_Tables/Comparing_all_go_groups_across_species/OrthoDB_python_files/orthodb_v10_genes.p','wb')
pickle.dump(genes_pd,file_genes)
file_genes.close()
file_og2genes = open('/data/passala/Generated_Tables/Comparing_all_go_groups_across_species/OrthoDB_python_files/orthodb_v10_og2genes.p','wb')
pickle.dump(og2genes_pd,file_og2genes)
file_og2genes.close()